.animate-move-top {
    color: #989daa;
    cursor: pointer;
    background: #222;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 15px;
    padding: 0 13px;
    font-size: 30px;
    z-index: 99;
}

.animate-move-top:hover {
    color: deepskyblue;
    box-shadow: 0 3px 10px black;
    transform: scale(1.1);
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: transparent;
    background-image: url('../assets/wave.png');
    background-position: bottom right;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .masthead {
        background-size: 180% 70%;
    }
}

.page-footer {
    background-color: #2C3E50;
    color: white;
}

.logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 0;
}

.transparent {
    background-color: transparent;
}

.white {
    background-color: white;
}


.brand-container {
    margin-bottom: 80px;
}

.form-daftar-sekolah, .form-daftar-siswa {
    padding: 0 20vw;
}

