@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

body {
  margin: 0;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

header {
  background-color: rgb(170, 170, 153);
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  margin-top:  35px;
}

h2 {
  margin-left: 5%;
  margin-top: 8px;
}

.login {
  margin-top: 40px;
  width: 200px;
  height: 250px;
}

hr {
  border: 0;
  width: 40%;
  height: 1px;
  background-image: -moz-linear-gradient(left, white, black, white);
  background-image: -webkit-linear-gradient(left, white, black, white);
  background-image: -o-linear-gradient(left, white, black, white);
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.right-left div:nth-child(1) {
  float: left;
  margin-left: 5px;
}

.right-left div:nth-child(2) {
  float: right;
}

#saldo {
  font-size: 2.2em;
}

.navbar-brand > img {
  width: 40px;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }
}

.pointer {
  cursor: pointer;
}

.card-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 62, 80, 0.7);
}

.card-overlay > div { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.circle {
  border-radius: 50%;
}

textarea {
  border-radius: 20px !important;
}
